* {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 0px 0px;
}

.component {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px 0px 0px 0px;
    width: 600px;
    height: 500px;
    overflow: auto;
}

.input {
    margin: 0px auto;
}

.input input {
    border-color: white;
    border-style: groove;
    outline: none;
    border-radius: 12px;
    padding: 7px;
    font-size: larger;
}

.input input::placeholder {
    font-size: medium;
    font-style: italic;
}

.input button {
    border-color: white;
    border-style: groove;
    outline: none;
    border-radius: 12px;
    padding: 7px;
    font-size: larger;
}

#todos {
    margin: 15px 43px;
}

.olEl {
    list-style-type: decimal; /* or any other style you prefer */
    margin: 0;
    padding: 0 20px; /* Adjust for spacing */
}

.liEl {
    margin: 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 9px;
    padding: 5px;
    list-style-position: inside;
}

.h2El {
   overflow: auto;
   width: 400px;
}

.delEl {
    background-color: purple;
    display: flex;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    font-family: monospace;
    color: white;
    padding: 15px 30px;
    margin-left: 10px;
    cursor: pointer;
    height: 11px;
    align-items: center;
    border-radius: 9px;
}

.editEl {
    background-color: purple;
    display: flex;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    font-family: monospace;
    color: white;
    padding: 15px 30px;
    margin-left: 10px;
    cursor: pointer;
    height: 11px;
    align-items: center;
    border-radius: 9px;
}